Repository fractal-academy/reportix, pull requests merged in 2021-03, with the labels that each got.

#2 add UserFroupView
  src/app/domains/user/components/views/UserGroupView/UserGroupView.styles.js
  src/app/domains/user/components/views/UserGroupView/UserGroupView.template.js
  src/app/domains/user/components/views/UserGroupView/index.js
  src/app/domains/user/components/views/UserSimpleView/UserSimpleView.template.js
Labels: good first issue

#3 add Custom menu, header and wrapper layout
  package.json
  src/app/components/Header.js
  src/app/components/Menu.js
  src/app/components/PageWrapper.js
  src/app/components/index.js
  src/app/constants/index.js
  src/app/constants/pages.js
  src/app/constants/route.js
  src/app/constants/routhPaths.js
  src/app/context/SesionContext/index.js
  src/app/index.js
  src/app/services/Auth/Login.js
  src/app/services/Auth/SignUp.js
  src/app/style/index.js
Labels: good first issue

#8 add directories and components with routes for side menu of PageWrapp…
  src/app/components/Header.js
  src/app/components/Menu.js
  src/app/components/PageWrapper.js
  src/app/components/PrivateRoute/PrivateRoute.js
  src/app/components/index.js
  src/app/constants/pages.js
  src/app/constants/route.js
  src/app/constants/routhPaths.js
  src/app/domains/Calendar/routes/CalendarAll/CalendarAll.layout.js
  src/app/domains/Calendar/routes/CalendarAll/index.js
  src/app/domains/Calendar/routes/CalendarEdit/CalendarEdit.layout.js
  src/app/domains/Calendar/routes/CalendarEdit/index.js
  src/app/domains/Calendar/routes/CalendarShow/CalendarShow.layout.js
  src/app/domains/Calendar/routes/CalendarShow/index.js
  src/app/domains/Calendar/routes/index.js
  src/app/domains/Company/routes/CompanyAll/CompanyAll.layout.js
  src/app/domains/Company/routes/CompanyAll/index.js
  src/app/domains/Company/routes/CompanyEdit/CompanyEdit.layout.js
  src/app/domains/Company/routes/CompanyEdit/index.js
  src/app/domains/Company/routes/CompanyShow/CompanyShow.layout.js
  src/app/domains/Company/routes/CompanyShow/index.js
  src/app/domains/Company/routes/index.js
  src/app/domains/Report/routes/ReportAll/ReportAll.layout.js
  src/app/domains/Report/routes/ReportAll/index.js
  src/app/domains/Report/routes/ReportEdit/ReportEdit.layout.js
  src/app/domains/Report/routes/ReportEdit/index.js
  src/app/domains/Report/routes/ReportShow/ReportShow.layout.js
  src/app/domains/Report/routes/ReportShow/index.js
  src/app/domains/Report/routes/index.js
  src/app/domains/Statistic/routes/StatisticAll/StatisticAll.layout.js
  src/app/domains/Statistic/routes/StatisticAll/index.js
  src/app/domains/Statistic/routes/StatisticShow/StatisticShow.layout.js
  src/app/domains/Statistic/routes/StatisticShow/index.js
  src/app/domains/Statistic/routes/index.js
  src/app/domains/project/routes/ProjectAll/ProjectAll.layout.js
  src/app/domains/project/routes/ProjectAll/index.js
  src/app/domains/project/routes/ProjectEdit/ProjectEdit.layout.js
  src/app/domains/project/routes/ProjectEdit/index.js
  src/app/domains/project/routes/ProjectShow/ProjectShow.layout.js
  src/app/domains/project/routes/ProjectShow/index.js
  src/app/domains/project/routes/index.js
  src/app/domains/user/routes/UserShow/UserShow.layout.js
  src/app/index.js
Labels: fix, layout, refactor

#11 add account simple view and accountAll layout
  src/app/domains/Account/components/Views/AccountSimpleView/AccountSimpleView.js
  src/app/domains/Account/components/Views/AccountSimpleView/index.js
  src/app/domains/Account/routes/AccountAll/AccountAll.layout.js
  src/app/domains/Account/routes/AccountAll/index.js
  src/app/domains/Account/routes/AccountShow/AccountShow.layout.js
  src/app/domains/Account/routes/AccountShow/index.js
  src/app/domains/Account/routes/index.js
  src/app/style/index.js
Labels: layout

#9 add UserAdvancedView and UserFilterProfile
  src/app/components/Dashboard.js
  src/app/components/index.js
  src/app/constants/index.js
  src/app/constants/routhPaths.js
  src/app/constants/status.js
  src/app/domains/Comment/components/combined/CommentListWithAdd/CommentListWithAdd.template.js
  src/app/domains/Comment/components/combined/CommentListWithAdd/index.js
  src/app/domains/Comment/components/combined/index.js
  src/app/domains/Comment/components/forms/CommentSimpleForm/CommentSimpleForm.template.js
  src/app/domains/Comment/components/forms/CommentSimpleForm/index.js
  src/app/domains/Comment/components/forms/index.js
  src/app/domains/Comment/components/list/CommentList/CommentList.template.js
  src/app/domains/Comment/components/list/CommentList/index.js
  src/app/domains/Comment/components/list/index.js
  src/app/domains/Comment/components/views/CommentAdvancedView/CommentAdvancedView.template.js
  src/app/domains/Comment/components/views/CommentAdvancedView/index.js
  src/app/domains/Comment/components/views/index.js
  src/app/domains/Request/components/views/RequestAdvancedView/RequestAdvancedView.js
  src/app/domains/Request/components/views/RequestAdvancedView/index.js
  src/app/domains/Request/components/views/index.js
  src/app/domains/user/components/combine/UserFilterProfile/UserFilterProfile.js
  src/app/domains/user/components/combine/UserFilterProfile/index.js
  src/app/domains/user/components/combine/index.js
  src/app/domains/user/components/list/UserList/UserList.template.js
  src/app/domains/user/components/list/UserList/index.js
  src/app/domains/user/components/list/index.js
  src/app/domains/user/components/views/UserAdvancedView/UserAdvancedView.styles.js
  src/app/domains/user/components/views/UserAdvancedView/UserAdvancedView.template.js
  src/app/domains/user/components/views/UserAdvancedView/index.js
  src/app/domains/user/components/views/UserGroupView/UserGroupView.template.js
  src/app/domains/user/components/views/index.js
  src/app/domains/user/routes/UserShow/UserShow.layout.js
Labels: layout

#17 fix directory names and imports to one main structure
  src/app/components/Dashboard.js
  src/app/components/Header.js
  src/app/constants/route.js
  src/app/constants/routhPaths.js
  src/app/domains/Account/components/Views/index.js
  src/app/domains/Account/routes/AccountAll/index.js
  src/app/domains/Account/routes/AccountsAll/AccountsAll.layout.js
  src/app/domains/Account/routes/AccountsAll/index.js
  src/app/domains/Account/routes/index.js
  src/app/domains/Calendar/routes/CalendarAll/CalendarAll.layout.js
  src/app/domains/Calendar/routes/CalendarAll/index.js
  src/app/domains/Calendar/routes/CalendarsAll/CalendarsAll.layout.js
  src/app/domains/Calendar/routes/CalendarsAll/index.js
  src/app/domains/Calendar/routes/index.js
  src/app/domains/Comment/components/views/CommentAdvancedView/CommentAdvancedView.template.js
  src/app/domains/Company/routes/CompaniesAll/CompaniesAll.layout.js
  src/app/domains/Company/routes/CompaniesAll/index.js
  src/app/domains/Company/routes/CompanyAll/CompanyAll.layout.js
  src/app/domains/Company/routes/CompanyAll/index.js
  src/app/domains/Company/routes/index.js
  src/app/domains/Invoice/components/view/InvoiceAdvancedView/index.js
  src/app/domains/Invoice/components/views/InvoiceAdvancedView/InvoiceAdvancedView.js
  src/app/domains/Invoice/components/views/InvoiceAdvancedView/index.js
  src/app/domains/Invoice/components/views/index.js
  src/app/domains/LeaveDay/components/filter/index.js
  src/app/domains/Report/components/Views/ReportSimpleView/ReportSimpleView.template.js
  src/app/domains/Report/components/Views/ReportSimpleView/index.js
  src/app/domains/Report/components/Views/index.js
  src/app/domains/Report/routes/ReportAll/ReportAll.layout.js
  src/app/domains/Report/routes/ReportAll/index.js
  src/app/domains/Report/routes/ReportsAll/ReportsAll.layout.js
  src/app/domains/Report/routes/ReportsAll/index.js
  src/app/domains/Report/routes/index.js
  src/app/domains/Request/components/views/RequestAdvancedView/RequestAdvancedView.js
  src/app/domains/Request/components/views/index.js
  src/app/domains/Statistic/routes/StatisticAll/StatisticAll.layout.js
  src/app/domains/Statistic/routes/StatisticAll/index.js
  src/app/domains/Statistic/routes/StatisticsAll/StatisticsAll.layout.js
  src/app/domains/Statistic/routes/StatisticsAll/index.js
  src/app/domains/Statistic/routes/index.js
  src/app/domains/project/components/views/ProjectAdvancedView/ProjectAdvancedView.template.js
  src/app/domains/project/components/views/index.js
  src/app/domains/project/routes/ProjectAll/ProjectAll.layout.js
  src/app/domains/project/routes/ProjectAll/index.js
  src/app/domains/project/routes/ProjectsAll/ProjectsAll.layout.js
  src/app/domains/project/routes/ProjectsAll/index.js
  src/app/domains/project/routes/index.js
  src/app/domains/user/components/combine/index.js
  src/app/domains/user/components/list/UserList/UserList.template.js
  src/app/domains/user/components/list/index.js
  src/app/domains/user/components/views/UserAdvancedView/UserAdvancedView.template.js
  src/app/domains/user/components/views/index.js
  src/app/domains/user/routes/UserAll/index.js
  src/app/domains/user/routes/UserShow/UserShow.layout.js
  src/app/domains/user/routes/UsersAll/UsersAll.layout.js
  src/app/domains/user/routes/UsersAll/index.js
  src/app/domains/user/routes/index.js
Labels: fix, refactor

#21 fix page wrapper
  src/app/components/PrivateRoute/PrivateRoute.js
  src/app/constants/route.js
  src/app/index.js
Labels: fix, layout

#22 Report view
  src/app/components/Header/Header.js
  src/app/constants/route.js
  src/app/constants/routhPaths.js
  src/app/domains/Account/components/views/AccountSimpleView/AccountSimpleView.template.js
  src/app/domains/Account/components/views/AccountSimpleView/index.js
  src/app/domains/Report/components/Views/ReportSimpleView/ReportSimpleView.template.js
  src/app/domains/Report/components/views/ReportSimpleView/index.js
  src/app/domains/Report/routes/ReportShow/ReportShow.layout.js
  src/app/domains/Report/routes/ReportsAll/ReportsAll.layout.js
  src/app/domains/User/components/views/UserSimpleView/UserSimpleView.template.js
  src/app/style/index.js
Labels: fix, layout, refactor

#26 add github account adding system
  src/app/domains/Account/components/views/AccountSimpleView/AccountSimpleView.template.js
  src/app/domains/Account/routes/AccountsAll/AccountsAll.layout.js
Labels: logic

#27 Add loading and redirect while try to access to page wich does not ex…
  src/app/components/Dashboard/Dashboard.js
  src/app/components/PrivateRoute/PrivateRoute.js
  src/app/context/SesionContext/useSession.js
  src/app/index.js
  src/app/services/Auth/Login.js
Labels: fix, layout, logic

#31 add route on pageNotFound when page with current path does not exist …
  src/app/components/PageDoestnExist/PageDoestnExist.js
  src/app/components/PageDoestnExist/index.js
  src/app/components/PageWrapper/PageWrapper.js
  src/app/components/index.js
  src/app/constants/route.js
  src/app/constants/routhPaths.js
  src/app/domains/Account/routes/AccountsAll/AccountsAll.layout.js
  src/app/index.js
Labels: fix, layout, logic, refactor

#35 Fix session redirect
  src/app/components/Dashboard/Dashboard.js
  src/app/components/PrivateRoute/index.js
  src/app/components/index.js
  src/app/domains/Account/routes/AccountsAll/AccountsAll.layout.js
  src/app/domains/User/routes/UserShow/UserShow.layout.js
  src/app/index.js
  src/index.js
Labels: fix, layout, logic, refactor

#37 fix import for AuthProvider
  src/index.js
Labels: fix

#39 add user data to sessionContext
  src/app/context/SesionContext/useSession.js
Labels: fix, logic, refactor

#40 rewrite user 'get' request for Context
  src/app/context/SesionContext/useSession.js
Labels: refactor

#42 Report form view
  src/app/constants/index.js
  src/app/constants/taskStatus.js
  src/app/domains/Report/components/form/ReportSimpleForm/ReportSimpleForm.template.js
  src/app/domains/Report/components/form/ReportSimpleForm/index.js
  src/app/domains/Report/components/form/index.js
  src/app/domains/Report/components/table/ReportTable/ReportTable.template.js
  src/app/domains/Report/components/table/ReportTable/index.js
  src/app/domains/Report/components/table/index.js
  src/app/domains/Report/components/views/ReportSimpleView/ReportSimpleView.template.js
  src/app/domains/Report/routes/ReportsAll/ReportsAll.layout.js
  src/app/domains/User/components/select/UserSelect/UserSelect.template.js
  src/app/domains/User/components/select/UserSelect/index.js
  src/app/domains/User/components/select/index.js
  src/app/style/index.js
Labels: fix, layout, logic, refactor

#43 Fix auth context
  src/app/components/Dashboard/Dashboard.js
  src/app/context/SesionContext/dispatchEventsType.js
  src/app/context/SesionContext/sessionReducer.js
  src/app/context/SesionContext/useSession.js
Labels: fix

#44 add redirect to User profile on login
  src/app/components/Dashboard/Dashboard.js
  src/app/components/PageDoestnExist/PageDoestnExist.js
  src/app/context/SesionContext/useSession.js
  src/app/domains/User/routes/UserShow/UserShow.layout.js
  src/app/index.js
Labels: fix, refactor

#47 Image uploader
  src/app/components/ImageUploader/ImageUploader.js
  src/app/components/ImageUploader/ImageUploader.style.css
  src/app/components/ImageUploader/index.js
  src/app/components/index.js
  src/app/domains/LeaveDay/components/forms/LeaveDaySimpleForm/LeaveDaySimpleForm.template.js
  src/app/domains/Report/components/table/ReportTable/ReportTable.template.js
  src/app/domains/User/components/forms/UserSimpleForm/UserSimpleForm.template.js
  src/app/domains/User/routes/UserShow/UserShow.layout.js
  src/app/domains/User/routes/UsersEdit/UsersEdit.layout.js
  src/app/services/Auth/Login.js
  src/app/services/Auth/SignUp.js
  src/app/services/Firestore/getData.js
  src/app/services/index.js
Labels: fix, layout, refactor

#49 Dima move component
  src/app/components/Header/Header.js
  src/app/components/ImageUploader/ImageUploader.js
  src/app/domains/Account/components/views/AccountSimpleView/AccountSimpleView.template.js
  src/app/domains/Calendar/combined/CalendarAddEvent/CalendarAddEvent.template.js
  src/app/domains/Report/routes/ReportEdit/ReportEdit.layout.js
  src/app/domains/Report/routes/ReportsAll/ReportsAll.layout.js
  src/app/domains/Request/components/list/RequestList/RequestList.js
  src/app/domains/Request/components/views/RequestAdvancedView/RequestAdvancedView.js
  src/app/domains/Request/routes/RequestsAll/RequestsAll.layout.js
  src/app/domains/User/components/combine/UserFilterProfile/UserFilterProfile.js
  src/app/domains/User/components/list/UserListItem/UserListItem.js
  src/app/services/Auth/SignUp.js
Labels: fix, layout, logic, refactor

#50 add unlink gitHub account
  src/app/domains/Account/components/views/AccountSimpleView/AccountSimpleView.template.js
  src/app/domains/Account/routes/AccountsAll/AccountsAll.layout.js
  src/app/domains/Calendar/combined/CalendarAddEvent/CalendarAddEvent.template.js
  src/app/domains/User/components/list/UserList/UserList.template.js
  src/app/domains/User/components/list/UserListItem/UserListItem.js
  src/app/domains/User/routes/UsersAll/UsersAll.layout.js
Labels: layout, logic

#55 add button goBack and Title for all pages
  src/app/domains/Calendar/routes/CalendarShow/CalendarShow.layout.js
  src/app/domains/Project/routes/ProjectsAll/ProjectsAll.layout.js
  src/app/domains/Report/routes/ReportEdit/ReportEdit.layout.js
  src/app/domains/Report/routes/ReportsAll/ReportsAll.layout.js
  src/app/domains/Request/routes/RequestsAll/RequestsAll.layout.js
  src/app/domains/User/components/views/UserAdvancedView/UserAdvancedView.template.js
  src/app/domains/User/routes/UsersAll/UsersAll.layout.js
Labels: layout, refactor

#57 Image uploader
  package.json
  src/app/components/AvatarUploader/AvatarUploader.js
  src/app/components/AvatarUploader/index.js
  src/app/components/ImageUploader/ImageUploader.js
  src/app/components/ImageUploader/ImageUploader.style.css
  src/app/components/ImageUploader/index.js
  src/app/components/index.js
  src/app/domains/User/components/forms/UserSimpleForm/UserSimpleForm.template.js
Labels: layout, logic, refactor

#62 add filtration if user admin show all requests/projects else personal…
  src/app/components/index.js
  src/app/domains/Calendar/combined/CalendarAddEvent/CalendarAddEvent.template.js
  src/app/domains/Project/components/list/ProjectList/ProjectList.js
  src/app/domains/Project/components/views/ProjectAdvancedView/ProjectAdvancedView.template.js
  src/app/domains/Request/components/list/RequestList/RequestList.js
  src/app/domains/Request/components/views/RequestAdvancedView/RequestAdvancedView.js
  src/app/domains/Request/routes/RequestsAll/RequestsAll.layout.js
  src/app/domains/User/components/combine/UserFilterProfile/UserFilterProfile.js
Labels: fix, layout, logic, refactor
